[
{ door, [
  {s3_bucket, "beyondgames-bow-dev"},
  {s3_host, "https://s3-us-west-1.amazonaws.com"},
  {s3_accesskey, "AKIAJ5G3LLZ75JDJ5OUQ"},
  {s3_secretkey, "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"},
  {s3_path, "http://s3-us-west-1.amazonaws.com/beyondgames-bow-dev"},
  {s3_all_users, "uri=http://acs.amazonaws.com/groups/global/AllUsers"},

  {redis_hostname, "red0.toqrlt.0001.usw1.cache.amazonaws.com" },
  {redis_port, 6379 },

  {push_cert, "apns-dev-cert.pem"},
  {push_key, "apns-dev-key.noenc.pem"}
  ]
},
{ newrelic, [
  { application_name, "Brink Backend [dev]" },
  { license_key, "8540ff6e7bbc867ca739543b5000733410235bd7" }
  ]
}
].