[{ door, [
  {s3_bucket, "beyondgames-bow"},
  {s3_host, "https://s3-us-west-1.amazonaws.com"},
  {s3_accesskey, "AKIAJVOLEECLCMRC75QA"},
  {s3_secretkey, "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"},
  {s3_path, "http://s3-us-west-1.amazonaws.com/beyondgames-bow"},
  {s3_all_users, "uri=http://acs.amazonaws.com/groups/global/AllUsers"}
  ]
}].